<form *ngIf="goalsData.userName" class="main-page d-flex flex-column align-items-center gap-2 text-center" action="submit">
    
        <label class="mt-5" for="goals">Enter what your goals are below: </label>
        <textarea (keyup)="checkButton()" minlength="10" [(ngModel)]="goalsData.goals" name="goals" id="goals"></textarea>
        <p *ngIf="goalsData.goals.length<10" class="info">minimum 10 characters</p>

        <label for="prefFood">Enter  your food preferences below, (what you like and want to avoid): </label>
        <textarea (keyup)="checkButton()" minlength="10" [(ngModel)]="goalsData.foodPref" name="pref" id="pref"></textarea>
        <p *ngIf="goalsData.foodPref.length<10" class="info">minimum 10 characters</p>

        <label for="prefExercise">Enter  your exercise preferences below, (what you like and want to avoid): </label>
        <textarea (keyup)="checkButton()" minlength="10" [(ngModel)]="goalsData.exercisePref" name="pref" id="pref"></textarea>
        <p *ngIf="goalsData.exercisePref.length<10" class="info">minimum 10 characters</p>

    <button [disabled]="disableButton" (click)="addData(goalsData)">Submit</button>
</form>

<div *ngIf="!goalsData.userName">
    <div>Please Log-in or Sign up to see this page</div>
</div>
