.main-container{
    background-color: black;
    color: aqua;
    height: 100vh;
    width: 100vw;
}

.breakfast{
    color: goldenrod;
}

.breakfastFood{
    font-style: italic;
}

.lunch{
    color: rgb(125, 192, 125);
}

.lunchFood{
    font-style: italic;
}

.dinner{
    color: rgb(122, 49, 49);
}

.dinnerFood{
    font-style: italic;
}

button{
    border-radius: 25%;
    border: solid black;
    background-color: darkslategrey;
    color: white;
}