.main-container{
    color: rgb(108, 35, 71);
    min-height: 100vh;
    background-color: black;
    width: 100vw;
}

.breakfast{
    color: goldenrod;
}

.lunch{
    color: rgb(125, 192, 125);
}

.dinner{
    color: rgb(103, 80, 156);
}

.snacks{
    color: blue;
}

.content{
    font-style: italic;
}

.cardio{
    color:red;
}

.resistance{
    color: rgb(219, 153, 129);
}

button{
    border-radius: 25%;
    border: solid black;
    background-color: darkslategrey;
    color: white;
}

.titleBox{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: aliceblue;
}



.arrow{
    font-size: 2rem;
    color:rgb(219, 153, 129);
    position: relative;
    top: 10px;
    background-color: black;
    height: 1rem;
    border-radius: 0;
    cursor: pointer;
}