<div class="card-container row justify-content-center mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">BMI</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Your current BMI</h6>
          <p class="card-text">Remember BMI is a crude measurement calculated from total weight and height, and does not take into account muscle weight. Use BMI as a rough guide only when assessing fitness</p>
          <a href="#" class="card-link">Edit Weight</a>
          <a href="#" class="card-link">Edit Height</a>
          <h5>Current Weight: </h5>
          <h5>Current Height: </h5>
        </div>
      </div>
</div>
