<h1>Plan Page</h1>
<div>
    <div>
        <label class="me-2" for="breakfast">Breakfast: </label>
        <input type="text" name="breakfast">
        <label class="ms-3 me-2" for="breakfast_kcal">Breakfast Kcal: </label>
        <input type="number" name="breakfast_kcal">
    </div>
    <div>
        <label class="me-4" for="lunch">Lunch: </label>
        <input class="ms-1" type="text" name="lunch">
        <label class="ms-4 me-2" for="lunch_kcal">Lunch Kcal: </label>
        <input class="ms-3" type="number" name="lunch_kcal">
    </div>
    <div>
        <label class="me-4" for="dinner">Dinner: </label>
        <input class="ms-1" type="text" name="dinner">
        <label class="ms-4 me-2" for="dinner_kcal">Dinner Kcal: </label>
        <input class="ms-3" type="number" name="dinner_kcal">
    </div>
    <button>Submit</button>
</div>
