<h1>Plan Page</h1>
<form *ngIf="!hide" action="submit">
<div>
    <div class="d-flex flex-column align-items-center">
        <h3>Select User</h3>
        <select (change)="checkComplete()" [(ngModel)]="member" name="user">
            <option *ngFor="let user of users" 
            [value]="user.userEmail"
            >{{user.firstName}} - {{user.userEmail}}</option>
        </select>
    </div>
    <div class="mainBody d-flex flex-column align-items-center mt-2 mb-5">
        <div>
            <label class="me-2" for="foodDate">Date: </label>
            <input (change)="checkComplete()" type="date" name="foodDate" [(ngModel)]="formData.foodDate">
        </div>
        <div class="foodBody mt-2">
            <div class="d-flex flex-column align-items-center mt-3">
                <label for="breakfast">Breakfast: </label>
                <textarea class="foodDesc" (keyup)="checkComplete()" type="text" name="breakfast" [(ngModel)]="formData.breakfastFood"></textarea>
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="breakfast_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()" type="number" [(ngModel)]="formData.breakfastKcal" name="breakfast_kcal">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="lunch">Lunch: </label>
                <input class="foodDesc" (keyup)="checkComplete()" type="text" name="lunch" [(ngModel)]="formData.lunchFood">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="lunch_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()" [(ngModel)]="formData.lunchKcal" type="number" name="lunch_kcal">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="dinner">Dinner: </label>
                <input class="foodDesc" (keyup)="checkComplete()" type="text" name="dinner" [(ngModel)]="formData.dinnerFood">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="dinner_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()"  type="number" [(ngModel)]="formData.dinnerKcal" name="dinner_kcal">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="snacks">Snacks: </label>
                <input class="foodDesc" (keyup)="checkComplete()" type="text" name="snacks" [(ngModel)]="formData.snacks">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="snacks_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()"  type="number" [(ngModel)]="formData.snacksKcal" name="snacks_kcal">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="dinner">Cardio: </label>
                <input class="foodDesc" (keyup)="checkComplete()" type="text" name="cardio" [(ngModel)]="formData.cardio">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="cardio_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()"  type="number" [(ngModel)]="formData.cardioKcal" name="cardio_kcal">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="dinner">Resistance: </label>
                <input class="foodDesc" (keyup)="checkComplete()" type="text" name="resistance" [(ngModel)]="formData.resistance">
            </div>
            <div class="d-flex flex-column align-items-center">
                <label for="resistance_kcal">Kcal: </label>
                <input class="kcalBox" (keyup)="checkComplete()"  type="number" [(ngModel)]="formData.resistanceKcal" name="resistance_kcal">
            </div>
        </div>
        <button class="mt-2" [disabled]="hideButton" (click)="submitPlan()">Submit</button>
    </div>
</div>
</form>

<div *ngIf="hide">
    ONLY ADMIN USERS CAN ACCESS THIS PAGE
</div>